@model Category

@{
    ViewData["Title"] = "Delete Category";
}


<h3>Are you sure you want to delete category <span class="text-danger">@Model.Name</span> ?</h3>

<form asp-action="DeleteCategory">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn-danger btn">Delete</button>
    <a asp-action="Index" class="btn-secondary btn">Cancel</a>
</form>