@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Category to edit: @Model.Name</h1>
<h5>Category allows to break up how we spend the money,
    also, from where we got income.
</h5>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="OperationTypeId"></label>
        <select asp-for="OperationTypeId" asp-items="Html.GetEnumSelectList<OperationType>()"
            class="form-select"></select>
        <span asp-validation-for="OperationTypeId" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}