@model CreateAccountViewModel

@{
    ViewData["Title"] = "Create Account";
}


<h1>Create Account</h1>
<h5>This refer to differents balances you have:
    credit card, saving account, loan, etc.
</h5>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AccountTypeId" class="form-label"></label>
        <select asp-items="Model.AccountTypes" class="form-select"></select>
        <span asp-validation-for="AccountTypeId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Balance" class="form-label"></label>
        <input asp-for="Balance" class="form-control"/>
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
    <button asp-action="Index" class="btn btn-secondary">Cancel</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}