@model CreateTransactionViewModel

@{
    ViewData["Title"] = "Create transaction";
}


<h1>Create Transaction</h1>
<h5>A transaction allows you to set income and spending</h5>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="TransactionDate" class="form-label"></label>
        <input asp-for="TransactionDate" class="form-control"/>
        <span asp-validation-for="TransactionDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AccountId" class="form-label"></label>
        <select asp-for="AccountId" asp-items="@Model.Accounts" class="form-select"></select>
        <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="OperationTypeId" class="form-label"></label>
        <select asp-for="OperationTypeId" asp-items="Html.GetEnumSelectList<OperationType>()"
            class="form-control" ></select>
        <span asp-validation-for="OperationTypeId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control"/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Note" class="form-label"></label>
        <textarea asp-for="Note" class="form-control"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/TransactionsForm.js" asp-append-version="true"></script>
    
    <script>
        const getCategoriesUrl = '@Url.Action("GetCategories")';

        $(function(){
            inicializeTransactionsForm(getCategoriesUrl);
        })
    </script>
}
