@model DetailedTransactionsReport

@{
    ViewData["Title"] = "Daily Report";
}


<partial name="_Submenu" model="TransactionsSubMenu.Daily"/>

<div class="mb-3">
    <a class="btn btn-outline-primary" asp-action="Create">Create a new Transaction</a>
</div>

<partial name="_TransactionsDetailedReport" model="Model" />
